<div id="<%= dom_id milestone %>">
  <p>
    <strong>Title:</strong>
    <%= milestone.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= milestone.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= milestone.due_date %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= milestone.project_id %>
  </p>

</div>
